<div class="app-form w-100 d-flex-column">
  <mat-form-field
    [formGroup]="formGroup"
    appearance="outline"
    class="w-100 fs-14"
    [style.height]="formName ? '59.56px' : 'auto'"
  >
    @if(label){ <mat-label>{{ label }}</mat-label>
    } @if(formName){
    <input
      #input
      matInput
      [matTooltip]="tooltip"
      matTooltipPosition="above"
      [ngClass]="{ placeholder: !value }"
      [value]="value"
      [type]="passwordShowing ? 'text' : type"
      [placeholder]="placeholder"
      [autocomplete]="autocomplete"
      [formControlName]="formName"
      (focus)="imeComposing = false"
      (input)="_input(input.value)"
      (keyup.enter)="_submit(input.value)"
    />
    } @else {
    <input
      #input
      matInput
      [matTooltip]="tooltip"
      matTooltipPosition="above"
      [ngClass]="{ placeholder: !value }"
      [value]="value"
      [type]="passwordShowing ? 'text' : type"
      [placeholder]="placeholder"
      [disabled]="disabled"
      [autocomplete]="autocomplete"
      (focus)="imeComposing = false"
      (input)="_input(input.value)"
      (keyup.enter)="_submit(input.value)"
    />
    } @if(prefixIcon){
    <span matPrefix class="mdi" [ngClass]="prefixIcon"></span>
    } @if(prefixText){
    <span matTextPrefix class="fs-12">{{ prefixText }}</span>
    } @if(suffixIcon){
    <span matSuffix class="mdi" [ngClass]="suffixIcon"></span>
    } @if(suffixText){
    <span matTextSuffix class="fs-12">{{ suffixText }}</span>
    } @if(type === 'password'){
    <button
      matSuffix
      mat-icon-button
      (click)="passwordShowing = !passwordShowing"
    >
      <span
        class="mdi"
        [ngClass]="passwordShowing ? 'mdi-eye' : 'mdi-eye-off'"
      ></span>
    </button>
    } @if(clearable){
    <button
      matSuffix
      mat-icon-button
      [style.visibility]="
        inputRef && inputRef.nativeElement.value ? 'visible' : 'hidden'
      "
      (click)="clear($event)"
    >
      <span class="mdi mdi-close"></span>
    </button>
    }
    <mat-error>{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>
