<div #wrapper class="textarea-container">
  @if(autosize){
  <textarea
    #textareaRef
    cdkTextareaAutosize
    [cdkAutosizeMinRows]="minRows"
    [id]="_id + '-textarea'"
    class="textarea autosize"
    [ngClass]="{dense}"
    [value]="value"
    [disabled]="disabled"
    [placeholder]="placeholder"
    (focus)="imeComposing = false"
    (blur)="_blur()"
    (input)="_input(textareaRef.value)"
    (keyup.enter)="_submit(textareaRef.value)"
  ></textarea>
  } @else {
  <textarea
    #textareaRef
    [id]="_id + '-textarea'"
    class="textarea"
    [ngClass]="{dense}"
    [value]="value"
    [disabled]="disabled"
    [placeholder]="placeholder"
    (focus)="imeComposing = false"
    (blur)="_blur()"
    (input)="_input(textareaRef.value)"
    (keyup.enter)="_submit(textareaRef.value)"
  ></textarea>
  }
</div>
