@use "color";
@use "flex";
@use "typography";

$label-height: 16px;
$margin-bottom: 23.56px; // equal to app-input/app-select
$line-height: 36px; // equal to app-input/app-select

::ng-deep .app-form-item {
  @extend .fs-14;
  @extend .d-flex-column;

  &.valued {
    margin-bottom: $margin-bottom;
  }

  .app-form-item-label {
    @extend .d-flex;
    @extend .align-center;
    @extend .gx-3;
    @extend .text-medium;
    @extend .line-height-min;
    margin-bottom: 12px;
    height: $label-height;
    line-height: $label-height;
  }

  .app-form-item-value {
    @extend .text-primary;
    @extend .text-no-wrap;
    line-height: $line-height;
  }

  .app-form-item-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    &.auto-width {
      width: auto;
    }
    & > span {
      line-height: $line-height;
      margin-bottom: $margin-bottom;
    }
  }
}
