<div
  class="app-form-item"
  [ngClass]="{valued}"
  [style.width]="width ? width + 'px' : 'auto'"
>
  <div class="app-form-item-label">
    <div
      class="fs-14 text-wrap"
      [style.minHeight]="'16px'"
      [innerText]="label + (required ? '*' : '')"
    ></div>
    <span
      *ngIf="help"
      class="fs-16 mdi mdi-help-circle-outline"
      [matTooltip]="help"
      matTooltipPosition="above"
    ></span>
  </div>
  <span
    *ngIf="valued"
    class="app-form-item-value"
    [ngClass]="valueClass || ''"
    >{{ value || "-" }}</span
  >
  <div
    class="app-form-item-content"
    [ngClass]="{ 'auto-width': width === 'auto' }"
  >
    <ng-content></ng-content>
  </div>
</div>
