@if(opened) {
<div
  class="app-popup animate__animated animate__zoomIn"
  [style.width]="width"
  [style.height]="height"
  cdkDrag
  #popup
  (click)="moveForeground()"
>
  <div class="popup-header" cdkDragHandle>
    <span class="popup-title">{{ title }}</span>
    <div class="popup-close-button">
      <span class="mdi mdi-close" (click)="opened = false"></span>
    </div>
  </div>
  <div class="popup-content">
    <ng-content></ng-content>
  </div>

  <div
    class="resize-handle left"
    (mousedown)="initResize($event, 'left', popup)"
  ></div>
  <div
    class="resize-handle top"
    (mousedown)="initResize($event, 'top', popup)"
  ></div>
  <div
    class="resize-handle right"
    (mousedown)="initResize($event, 'right', popup)"
  ></div>
  <div
    class="resize-handle bottom"
    (mousedown)="initResize($event, 'bottom', popup)"
  ></div>

  <div
    class="resize-handle left-top"
    (mousedown)="initResize($event, 'left-top', popup)"
  ></div>
  <div
    class="resize-handle top-right"
    (mousedown)="initResize($event, 'top-right', popup)"
  ></div>
  <div
    class="resize-handle right-bottom"
    (mousedown)="initResize($event, 'right-bottom', popup)"
  ></div>
  <div
    class="resize-handle bottom-left"
    (mousedown)="initResize($event, 'bottom-left', popup)"
  ></div>
</div>
}
