<form class="wh-100" [formGroup]="formGroup">
  <div class="confirm-dialog">
    @if(!data.iconHidden){
    <span class="mdi fs-56" [ngClass]="iconClass"></span>
    }
    <span class="text-primary font-20-medium mb-4">{{ data.title }}</span>
    @if(data.description){
    <span
      class="text-wrap text-center text-medium mb-6"
      [innerHtml]="data.description"
    ></span>
    }
    <ng-content></ng-content>
    <div class="w-100 d-flex justify-space-around mt-3">
      <app-button
        [_id]="[data._id, 'cancel-button'].join('-')"
        [transparent]="true"
        [height]="36"
        class="w-45"
        style="max-width: 180px"
        (emitClick)="cancel()"
        >{{ data.action.close.label }}</app-button
      >
      @if(data.action.confirm){
      <app-button
        [_id]="[data._id, 'action-button'].join('-')"
        [colorMode]="data.action.confirm.colorMode"
        [loading]="loading"
        [height]="36"
        class="w-45"
        style="max-width: 180px"
        (emitClick)="confirm()"
        >{{ data.action.confirm.label }}</app-button
      >
      }
    </div>
  </div>
</form>
