@use "color";
@use "typography";

.mat-mdc-form-field.error {
  outline: 1px solid color.$alert-color;
}

.dummy-option {
  visibility: hidden;
}

::ng-deep {
  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }

  .mat-mdc-option.mdc-list-item {
    padding: 8px;
    background-color: white !important;
    min-height: auto;
    transition: background-color 0.3s;
    &:hover {
      background-color: color.$primary-hover-color !important;
    }
    &:not(:last-child) {
      border-bottom: 1px solid color.$hover-color;
    }
    &.mat-ripple.mat-mdc-option-ripple.mat-focus-indicator {
      height: -webkit-fit-content !important;
      height: -moz-fit-content !important;
      height: fit-content !important;
    }

    &.mat-mdc-option-active {
      background-color: color.$primary-hover-color !important;
      color: color.$primary-color !important;
    }

    .mat-pseudo-checkbox {
      display: none !important;
    }

    .mdc-list-item__primary-text {
      @extend .text-no-wrap;
      @extend .fs-14;
    }
  }

  .mat-mdc-select-placeholder {
    color: color.$text-disabled-color !important;
  }
}
