@use "color";

::ng-deep {
  .mat-mdc-text-field-wrapper {
    max-height: 36px;
  }
  .placeholder {
    color: color.$text-disabled-color !important;
  }

  .mat-calendar-body-today {
    border-color: transparent !important;
  }

  .mat-calendar-body > tr:not([role="row"]) {
    display: none;
  }

  .mat-calendar-body-label {
    visibility: hidden;
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled) {
    border-radius: 6px;
    transition: background-color 0.3s;
    &:hover {
      background-color: color.$primary-hover-color;
    }
  }
  .active-date:not(.unselected) {
    color: white;
    background-color: color.$primary-color !important;
  }
  .mat-calendar-body-disabled {
    color: color.$text-disabled-color;
  }

  .action-button {
    width: 64px;
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .cancel-button {
    color: color.$alert-color;
    background-color: transparent;
    &:hover {
      background-color: color.$alert-hover-color;
    }
  }
}
