@use "color";
@use "spacing";
@use "typography";

.textarea-container {
  @extend .pt-1;
  @extend .px-2;
  border-radius: 4px;
  background-color: color.$hover-color;

  .textarea {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    @extend .pa-0;
    @extend .fs-12;
    resize: vertical;
    color: color.$text-primary-color;
    background-color: transparent;
    border: none !important;
    outline: none !important;

    &.autosize {
      height: auto;
      resize: none;
    }

    &.dense {
      height: 100%;
      padding: 2px;
      border: none;
      outline: none;
    }

    &:focus {
      outline: 0.1px color.$text-primary-color solid;
    }

    &::-webkit-input-placeholder {
      color: color.$text-disabled-color;
    }

    &::-moz-placeholder {
      color: color.$text-disabled-color;
    }

    &:-ms-input-placeholder {
      color: color.$text-disabled-color;
    }

    &::-ms-input-placeholder {
      color: color.$text-disabled-color;
    }

    &::placeholder {
      color: color.$text-disabled-color;
    }
  }
}
