<div class="app-form w-100 d-flex-column">
  <mat-form-field
    [formGroup]="formGroup"
    appearance="outline"
    class="w-100 fs-14"
    [style.height]="formName ? '59.56px' : 'auto'"
  >
    <mat-label *ngIf="label">{{ label }}</mat-label>
    @if(formName){
    <input
      #input
      matInput
      readonly
      [matDatepicker]="picker"
      [matTooltip]="tooltip"
      matTooltipPosition="above"
      [ngClass]="{ placeholder: !value }"
      [value]="value"
      [min]="min"
      [max]="max"
      [placeholder]="placeholder"
      [formControlName]="formName"
      (focus)="picker.open()"
      (dateInput)="_input($event.value)"
    />} @else {
    <input
      #input
      matInput
      readonly
      [matDatepicker]="picker"
      [matTooltip]="tooltip"
      matTooltipPosition="above"
      [ngClass]="{ placeholder: !value }"
      [value]="value"
      [min]="min"
      [max]="max"
      [placeholder]="placeholder"
      [disabled]="disabled"
      (focus)="picker.open()"
    />
    }
    <mat-datepicker-toggle matIconSuffix [for]="picker">
      <span class="mdi mdi-calendar" matDatepickerToggleIcon></span>
    </mat-datepicker-toggle>
    <mat-datepicker
      #picker
      [calendarHeaderComponent]="appCalendarHeaderComponent"
      [dateClass]="dateClass"
    >
      <mat-datepicker-actions>
        <div class="w-100 pa-1 d-flex gx-2 justify-end">
          <button
            matRipple
            class="action-button cancel-button"
            (click)="_input(null)"
          >
            クリア
          </button>
        </div>
      </mat-datepicker-actions>
    </mat-datepicker>
    <mat-error>{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>
