<div class="app-form w-100 d-flex-column">
  <mat-form-field
    [formGroup]="formGroup"
    appearance="outline"
    class="w-100 fs-14"
    [style.marginBottom]="formName && !errorMessage ? '23.56px' : 0"
  >
    <mat-label *ngIf="label" style="cursor: pointer">{{ label }}</mat-label>
    <ng-container *ngIf="formName">
      <mat-select
        #selectRef
        [value]="value"
        [placeholder]="placeholder"
        [disabled]="disabled"
        [formControlName]="formName"
        (selectionChange)="_select($event.value)"
      >
        @for(group of optionGroups; track group.value) { @if (!group.options){
        <mat-option [value]="group.value">{{ group.label }}</mat-option>
        } @else {
        <mat-optgroup [label]="group.label">
          <mat-option
            *ngFor="let option of group.options"
            [value]="option.value"
            >{{ option.label }}</mat-option
          >
        </mat-optgroup>
        } } @for(option of options; track option.value) {
        <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
    </ng-container>
    <ng-container *ngIf="!formName">
      <mat-select
        #selectRef
        [value]="value"
        [placeholder]="placeholder"
        [disabled]="disabled"
        (selectionChange)="_select($event.value)"
      >
        @for(group of optionGroups; track group.value) { @if (!group.options){
        <mat-option [value]="group.value">{{ group.label }}</mat-option>
        } @else {
        <mat-optgroup [label]="group.label">
          <mat-option
            *ngFor="let option of group.options"
            [value]="option.value"
            >{{ option.label }}</mat-option
          >
        </mat-optgroup>
        } } @for(option of options; track option.value) {
        <mat-option [value]="option.value">{{ option.label }}</mat-option>
        }
      </mat-select>
    </ng-container>
    @if (clearable && !!value) {
    <button
      matSuffix
      mat-icon-button
      [style.visibility]="valued ? 'visible' : 'hidden'"
      (click)="clear($event)"
    >
      <span class="mdi mdi-close"></span>
    </button>
    }
    <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>
