@use "sass:map";
@use "typography";
@use "color";
@use "global";
@use "constant";
@use "@angular/material" as mat;

:root {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: color.$primary-color,
    )
  );
}

.mat-icon {
  width: 100% !important;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0 !important;
}

.mat-datepicker-toggle,
.mat-mdc-form-field-icon-suffix {
  .mat-mdc-button-touch-target {
    border-radius: 50%;
  }
}

.mat-mdc-button-touch-target {
  width: 100% !important;
  height: 100% !important;
}

.mat-mdc-snack-bar-container {
  --mat-snack-bar-button-color: transparent;
  // color: #ffffff;
  $alpha: 0.75;
  &.default {
    --mdc-snackbar-container-color: rgba(#000, 0.5);
    background: rgba(#000, 0.5);
  }
  &.info {
    --mdc-snackbar-container-color: rgba(color.$primary-color, $alpha);
    background: rgba(color.$primary-color, $alpha);
  }
  &.success {
    --mdc-snackbar-container-color: rgba(color.$secondary-color, $alpha);
    background: rgba(color.$secondary-color, $alpha);
  }
  &.error {
    --mdc-snackbar-container-color: rgba(color.$alert-color, $alpha);
    background: rgba(color.$alert-color, $alpha);
  }
  .mat-mdc-snack-bar-label {
    color: #fff !important;
  }
  .mat-mdc-snack-bar-action {
    font-size: small;
    max-width: 40px;
    min-width: 40px;
    border-radius: 2px;
    transition: all 0.3s;
    .mdc-button__label {
      color: #fff !important;
    }
  }
  .mat-mdc-button-touch-target:hover {
    background-color: rgba(#fff, 0.04) !important;
  }
  .mat-mdc-snack-bar-label {
    @extend .text-wrap;
  }
}

$form-height: 36px;
.mat-mdc-text-field-wrapper:not(.mdc-text-field--invalid) {
  .mdc-notched-outline {
    & > * {
      border: 1px solid map.get(color.$gray-color-map, 200) !important;
    }
    .mdc-notched-outline__leading {
      border-right: none !important;
    }
    .mdc-notched-outline__notch {
      border-right: none !important;
    }
    .mdc-notched-outline__trailing {
      border-left: none !important;
    }
  }

  &.mdc-text-field--focused .mdc-notched-outline {
    & > * {
      border: 1px solid map.get(color.$gray-color-map, 800) !important;
    }
    .mdc-notched-outline__leading {
      border: none !important;
    }
    .mdc-notched-outline__notch {
      border: none !important;
    }
    .mdc-notched-outline__trailing {
      border: none !important;
    }
  }
  .mdc-notched-outline--notched {
    .mdc-notched-outline__notch {
      border-top: none !important;
    }
  }
}

.mat-mdc-form-field-flex {
  height: auto;

  .mat-mdc-notch-piece.mdc-notched-outline__leading,
  .mat-mdc-notch-piece.mdc-notched-outline__trailing {
    border: none !important;
  }

  .mat-mdc-select-arrow-wrapper {
    display: none;
  }

  .mat-mdc-floating-label {
    top: calc($form-height / 2) !important;

    &.mdc-floating-label--float-above {
      top: calc($form-height / 3 * 2 + 1px) !important;
      color: color.$text-medium-color;
    }
  }

  .mat-mdc-form-field-infix {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 4px;
    font-size: constant.rem(calc(10 + 2 * 2 * 0.75)) !important;
    padding: 8px !important;
    min-height: unset !important;

    .mat-mdc-select-trigger {
      --mat-select-focused-arrow-color: color.$text-primary-color !important;
    }
  }

  .mat-mdc-form-field-icon-prefix {
    padding: 0 8px;
    @extend .fs-18;
    color: color.$text-medium-color;
  }

  .mat-mdc-form-field-icon-suffix {
    padding: 0 8px;
    @extend .fs-18;
    color: color.$text-medium-color;

    .mat-mdc-icon-button.mat-mdc-button-base {
      padding: 0;
      --mdc-icon-button-state-layer-size: 28px;

      .mdi {
        @extend .fs-18;
      }
    }
  }

  .mat-mdc-form-field-text-suffix {
    @extend .fs-12;
    margin-left: 4px;
  }
}
.mat-mdc-form-field-type-mat-input .mat-mdc-form-field-infix {
  padding: 5px 8px !important;
  font-size: constant.rem(12) !important;
}

.mat-mdc-form-field-subscript-wrapper {
  @extend .fs-12;
}

.mat-mdc-form-field:not(.mat-form-field-invalid) {
  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.mat-mdc-optgroup-label {
  color: color.$text-disabled-color !important;
}

.mat-divider {
  border-color: color.$border-color !important;
}

.mat-mdc-form-field {
  border-radius: 4px;
  background-color: color.$gray-hover-color;
  font-size: 14px !important;
  line-height: 1 !important;
  &.mat-focused {
    outline: 0.5px solid color.$gray-medium-color;
  }
  // textarea {
  //   line-height: 1.15 !important;
  // }
}

.mat-mdc-select-value {
  min-width: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-datepicker-popup {
  background-color: #f0f0f0;
  border-radius: 8px;
  @extend .box-shadow;
}

.mat-mdc-tab-label-container {
  border-color: color.$border-color !important;
}

.mdc-tab--active {
  background-color: color.$primary-hover-color !important;
  color: color.$primary-color;
}
