/* Position */
@use "sass:list";
@use "constant";
$positions: ("absolute", "relative", "fix", "sticky");
@each $position in $positions {
  .position-#{$position} {
    position: #{$position};
  }
}

$direction-map: (
  t: "top",
  b: "bottom",
  l: "left",
  r: "right",
);

$sizes: ();

@for $i from 0 through 16 {
  $sizes: list.append($sizes, $i);
}

@each $size in $sizes {
  $_size: constant.rem($size * 4);
  @each $d, $direction in $direction-map {
    .#{$d}-#{$size} {
      #{$direction}: $_size;
    }
  }
  .lt-#{$size} {
    left: $_size;
    top: $_size;
  }
  .tr-#{$size} {
    top: $_size;
    right: $_size;
  }
  .rb-#{$size} {
    right: $_size;
    bottom: $_size;
  }
  .bl-#{$size} {
    bottom: $_size;
    left: $_size;
  }
}
