@use "flex";
@use "color";
@use "typography";
@use "position";
@use "global";

.app-popup {
  min-width: 400px;
  min-height: 400px;
  max-width: 99vw;
  max-height: 99vh;
  $border-radius: 4px;
  box-sizing: border-box;
  @extend .d-flex-column;
  border-radius: $border-radius;
  border: 1px solid color.$border-color;
  @extend .position-absolute;
  z-index: 10;
  @extend .box-shadow;

  &.animate__animated.animate__zoomIn {
    --animate-duration: 0.1s;
  }

  $header-height: 24px;

  .popup-header {
    height: $header-height;
    padding: 0 4px;
    @extend .d-flex;
    @extend .align-center;
    background-color: color.$gray-primary-color;
    border-radius: $border-radius $border-radius 0 0;
    color: white;

    .popup-title {
      @extend .fs-10;
    }

    .popup-close-button {
      margin-left: auto;
      $size: 20px;
      width: $size;
      height: $size;
      line-height: $size;
      cursor: pointer;
    }
  }

  .popup-content {
    // @extend .flex-grow;
    height: calc(100% - $header-height);
    overflow: auto;
    box-sizing: border-box;
    background-color: white;
    border-radius: 0 0 $border-radius $border-radius;
  }

  .resize-handle {
    @extend .position-absolute;
    background-color: transparent;
    z-index: 11;
    $handle-size: 5px;

    &.left {
      left: 0;
      top: $handle-size;
      width: $handle-size;
      height: calc(100% - $handle-size * 2);
      cursor: ew-resize;
    }

    &.top {
      top: 0;
      left: $handle-size;
      width: calc(100% - $handle-size * 2);
      height: $handle-size;
      cursor: ns-resize;
    }

    &.right {
      right: 0;
      top: $handle-size;
      width: $handle-size;
      height: calc(100% - $handle-size * 2);
      cursor: ew-resize;
    }

    &.bottom {
      bottom: 0;
      left: $handle-size;
      width: calc(100% - $handle-size * 2);
      height: $handle-size;
      cursor: ns-resize;
    }

    &.left-top {
      @extend .lt-0;
      width: $handle-size;
      height: $handle-size;
      cursor: nwse-resize;
    }

    &.top-right {
      @extend .tr-0;
      width: $handle-size;
      height: $handle-size;
      cursor: nesw-resize;
    }

    &.right-bottom {
      @extend .rb-0;
      width: $handle-size;
      height: $handle-size;
      cursor: nwse-resize;
    }

    &.bottom-left {
      @extend .bl-0;
      width: $handle-size;
      height: $handle-size;
      cursor: nesw-resize;
    }
  }
}
