@use "sass:map";

$text-primary-color: rgba(#000, 0.87);
$text-medium-color: rgba(#000, 0.6);
$text-disabled-color: rgba(#000, 0.38);
$border-color: rgba(#000, 0.18);
$hover-color: rgba(#000, 0.05);

$primary-color-map: (
  50: #e0e6f1,
  100: #b3c1db,
  200: #8098c3,
  300: #4d6fab,
  400: #265099,
  500: #003187,
  600: #002c7f,
  700: #002574,
  800: #001f6a,
  900: #001357,
);

$secondary-color-map: (
  50: #e3f0ed,
  100: #b9d9d2,
  200: #8bc0b5,
  300: #5da697,
  400: #3a9380,
  500: #17806a,
  600: #147862,
  700: #116d57,
  800: #0d634d,
  900: #07503c,
);

$success-color-map: (
  50: #e5f4e9,
  100: #bee3c8,
  200: #93d0a4,
  300: #68bd80,
  400: #47ae64,
  500: #27a049,
  600: #239842,
  700: #1d8e39,
  800: #178431,
  900: #0e7321,
);

$warn-color-map: (
  50: #fce9e6,
  100: #ffcbb8,
  200: #ffaa8a,
  300: #ff895a,
  400: #ff6e33,
  500: #ff5500,
  600: #f44f00,
  700: #e64800,
  800: #d94000,
  900: #c13100,
);

$alert-color-map: (
  50: #fbe4e5,
  100: #f4bcbf,
  200: #ed8f94,
  300: #e56269,
  400: #e04049,
  500: #da1e29,
  600: #d61a24,
  700: #d0161f,
  800: #cb1219,
  900: #c20a0f,
);

$gray-color-map: (
  50: #fafafa,
  100: #f2f2f2,
  200: #dedede,
  300: #cdcdcd,
  400: #bdbdbd,
  500: #aeaeae,
  600: #9e9e9e,
  700: #616161,
  800: #4f4f4f,
  900: #212121,
  "black": #060d14,
);

$bg-color: #f0f0f0;
$primary-color: map.get($primary-color-map, 500);
$secondary-color: map.get($secondary-color-map, 800);
$success-color: map.get($success-color-map, 500);
$warn-color: map.get($warn-color-map, 500);
$alert-color: map.get($alert-color-map, 500);
$gray-color: map.get($gray-color-map, 700);
$primary-hover-color: map.get($primary-color-map, 50);
$secondary-hover-color: map.get($secondary-color-map, 50);
$success-hover-color: map.get($success-color-map, 50);
$warn-hover-color: map.get($warn-color-map, 50);
$alert-hover-color: map.get($alert-color-map, 50);
$gray-hover-color: map.get($gray-color-map, 100);
$gray-deep-hover-color: map.get($gray-color-map, 200);
$gray-medium-color: map.get($gray-color-map, 400);
$gray-primary-color: map.get($gray-color-map, 700);

$text-color-map: (
  primary: $text-primary-color,
  medium: $text-medium-color,
  disabled: $text-disabled-color,
  "white": #ffffff,
);
$color-map: (
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success-color,
  warn: $warn-color,
  alert: $alert-color,
);
$hover-bg-color-map: (
  primary: $primary-hover-color,
  secondary: $secondary-hover-color,
  success: $success-hover-color,
  warn: $warn-hover-color,
  alert: $alert-hover-color,
);

@each $key, $color in $text-color-map {
  .text-#{$key} {
    color: $color;
  }
}
.divider-color {
  color: $border-color;
}
@each $key, $color in $color-map {
  .#{$key}-color {
    color: $color;
  }
}
@each $key, $color in $color-map {
  .#{$key}-bg-color {
    background: $color;
  }
}
@each $key, $color in $hover-bg-color-map {
  .#{$key}-hover-bg-color {
    background: $color;
  }
}

.bg-white {
  background-color: white;
}
