@use "flex";
@use "color";
@use "typography";
@use "spacing";

$header-height: 56px;

@font-face {
  font-family: "app-font-family";
  src: url("./fonts/NotoSansJP-VariableFont_wght.woff2") format("woff2"),
    url("./fonts/NotoSansJP-VariableFont_wght.woff") format("woff");
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "app-font-family", sans-serif !important;
  -webkit-text-size-adjust: 100%;
}
* {
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chromeなど */
  -ms-user-select: none; /* IE10かららしい */
}

textarea {
  font-family: "app-font-family", sans-serif !important;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.scroll-y {
  -ms-overflow-style: none;
  scrollbar-width: thin;
  overflow-y: auto;
}
.scroll-x {
  -ms-overflow-style: none;
  scrollbar-width: thin;
  overflow-x: auto;
}

@mixin clickable-text($font-color, $bg-color) {
  color: $font-color;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    background-color: rgba($bg-color, 0.05);
  }
}

.d-none {
  display: none;
}

.border-1 {
  border: 1px solid color.$border-color;
}

.pointer {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: color.$gray-hover-color;
  }
}

.html2canvas-reset {
  position: relative !important;
}

/* button */
button {
  outline: none !important;
  text-transform: none !important;
}

.box-shadow {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input[type="number"] {
  text-align: right;
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
  }
}

.master-item-box {
  @extend .d-flex;
  @extend .align-center;
  @extend .gx-1;
  padding: 8px 6px;
  background-color: white;
  &:not(:last-child) {
    border-bottom: 2px solid color.$border-color;
  }
}

.drag-handler {
  $drag-handler-size: 32px;
  width: $drag-handler-size;
  height: $drag-handler-size;
  @extend .d-flex-center;
  cursor: move;
}

.master-item-placeholder {
  background: color.$gray-medium-color;
  border: 2px dashed color.$text-disabled-color;
  min-height: 50px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
