<form class="wh-100" [formGroup]="formGroup">
  <mat-card class="wh-100 pa-0">
    <div class="py-6 px-8 d-flex align-center">
      <span class="fs-24 fw-bold text-primary">{{ title }}</span>
      <app-button
        [_id]="_id + '-cancel-button'"
        [transparent]="true"
        [width]="200"
        class="ml-auto"
        (emitClick)="cancel()"
        >キャンセル</app-button
      >
      <app-button
        [_id]="_id + '-register-button'"
        colorMode="primary"
        [loading]="loading"
        [width]="200"
        class="ml-8"
        (emitClick)="register()"
        >登録</app-button
      >
    </div>
    <mat-divider></mat-divider>
    <mat-card-content class="dialog-body">
      <div class="base-info">
        <ng-content select="[base-info]"></ng-content>
      </div>
      <div class="w-100 d-flex justify-end">
        <span class="fs-12 text-disabled">* 必須項目</span>
      </div>
      <div class="main-info">
        <ng-content select="[main-info]"></ng-content>
      </div>
    </mat-card-content>
  </mat-card>
</form>
