.dialog-header {
  padding: 32px 48px !important;
  height: 80px;
  .dialog-title {
    margin: 0 !important;
    font-size: 16px !important;
  }
}
.dialog-body {
  padding: 32px 48px !important;
  height: calc(100% - 80px);
  max-height: calc(100vh - 80px);
  overflow-y: scroll;

  .base-info {
    width: 100%;
    height: 72px;
  }
  .main-info {
    width: 100%;
    height: calc(100% - 72px);
  }
}
